.video-card {
  margin: 0 auto;
  width: 95%;
  height: 170px;
  border: none;
  border-radius: 6px;
  overflow: hidden;
  transition: all 300ms ease-in;
  // background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42)) 0% 0% / cover;

  &:hover {
    border: 3px solid #ecf0f1;
    transform: scale(1.05);
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// @media screen and (max-width: 1575px) {
//   .video-card {
//     width: 250px;
//   }
// }
