.video-card {
  position: relative;
  margin: 0 auto;
  width: 97%;
  height: 185px;
  border: none;
  border-radius: 6px;
  overflow: hidden;
  transition: all 300ms ease-in;

  &.video-header {
    height: 440px;
  }

  .video-grid-title,
  .video-header-title {
    position: absolute;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    z-index: 5;
    text-shadow: white 0px 0px 10px;
  }

  .video-grid-title {
    top: 5px;
    right: 0;
    font-size: 1.1rem;
  }

  .video-header-title {
    left: 0;
    bottom: 30px;
    margin-left: 1rem;
    font-size: 3rem;
  }

  &:hover {
    border: 3px solid #ecf0f1;
    transform: scale(1.05);
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(85%);

    &:hover {
      filter: brightness(100%);
    }
  }
}

@media screen and (min-width: 800px) {
  .video-card {
    height: 225px;
  }
}

@media screen and (min-width: 1000px) {
  .video-card {
    height: 275px;
  }
}

@media screen and (min-width: 1250px) {
  .video-card {
    height: 300px;
  }
}

@media screen and (min-width: 1500px) {
  .video-card {
    height: 325px;

    .video-header-title {
      font-size: 4rem;
    }

    .video-grid-title {
      left: 0;
      top: 30px;
      font-size: 2rem;
    }
  }
}
