.navbar {
  position: relative;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    height: 100px;
    width: 100%;
    color: #f9f9f9;
    padding: 1rem;
    overflow: hidden;
  }

  &-logo {
    // width: 20%;

    a {
      padding: 0.5rem;
      text-decoration: none;
    }
  }

  &-content {
    // width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-item,
  &-logo,
  &-account {
    padding: 0.5rem;
    margin: 0 0.5rem;
  }

  &-item {
    text-decoration: none;
    color: #f9f9f9;
    position: relative;
    i {
      margin-right: 0.5rem;
    }

    //from codepen: https://codepen.io/iClusterDev-The-King/pen/NWKvwwm
    .underline {
      &::after {
        content: '';
        border-bottom: solid 1.5px #f9f9f9;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 65%;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s;
      }

      &:hover {
        &::after {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
  }

  &-pages {
    display: flex;
  }
}
