.video-detail {
  &-container {
    height: 93vh;
  }
  &-image {
    // display: block;
    height: 100%;
    // width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(95%);
    }
  }
}
