.error-page {
  height: 86vh;

  &-btn {
    margin: 2rem;
    display: inline-block;
    padding: 1rem 0;
    background-color: #ddd;

    a {
      text-decoration: none;
      padding: 1rem 1.5rem;
      text-transform: uppercase;
      &:hover {
        background-color: #eee;
      }

      i {
        margin-right: 0.5rem;
      }
    }
  }

  &-content {
    margin: 1rem 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #ddd;
    width: 750px;
    color: #e74c3c;
  }
}

@media screen and (max-width: 800px) {
  .error-page {
    &-content {
      width: 80%;
      font-size: 1.2rem;
    }
  }
}
