@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}

body {
  background-color: #161722;
  color: #fff;
  line-height: 1.5;
  height: 100vh;
  font-family: Nunito, sans-serif;
  overflow-x: hidden;
}

.slick-slide {
  padding: 8px;
}

.slick-slider.slick-initialized {
  position: relative;
}

.slick-prev:before {
  content: '\f053';
  font-family: FontAwesome;
  color: #eee;
  font-size: 30px;
}

.slick-next:before {
  content: '\f054';
  font-family: FontAwesome;
  color: #eee;
  font-size: 30px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  z-index: 100;
  position: absolute;
  height: 100%;
  background-color: transparent;
  transition: opacity 300ms ease-in;
  font-size: 3rem;
  opacity: 0;
}

.slick-arrow.slick-prev {
  padding-right: 3rem;
  padding-left: 1.5rem;
  margin-left: 1.5rem;
}

.slick-arrow.slick-next {
  padding-right: 2.8rem;
  padding-left: 1.7rem;
  margin-right: 1.5rem;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  opacity: 0.9;
}

@media screen and (max-width: 1700px) {
  .slick-arrow.slick-prev {
    padding-right: 2.5rem;
  }

  .slick-arrow.slick-next {
    padding-right: 2.2rem;
  }
}

@media screen and (max-width: 1450px) {
  .slick-arrow.slick-prev {
    padding-right: 2.1rem;
  }

  .slick-arrow.slick-next {
    padding-right: 1.9rem;
  }
}

@media screen and (max-width: 1000px) {
  .slick-arrow.slick-prev {
    padding-right: 1.3rem;
  }

  .slick-arrow.slick-next {
    padding-right: 2rem;
    padding-left: 0.5rem;
    margin-right: 1.5rem;
  }
}
