@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}

body {
  background-color: #161722;
  color: #fff;
  line-height: 1.5;
  height: 100vh;
  font-family: Nunito, sans-serif;
}

/* React slick  */
.dotsClass {
  color: #fff;
}

.slick-dots li button::before {
  font-size: 8px;
  color: #eee;
  opacity: 0.7;
}

.slick-dots li.slick-active button::before {
  color: black;
  opacity: 1;
}

.slick-slide {
  padding: 1rem 8px;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
}

.slick-slider.slick-initialized {
  position: relative;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  position: absolute;
  height: 90%;
  z-index: 100;
  padding: 0 2rem;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 200ms ease-in;
  background-color: transparent;
}

.slick-arrow.slick-prev {
  left: 5px;
}

.slick-arrow.slick-next {
  right: 5px;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  opacity: 0.75;
}

@media screen and (min-width: 501px) {
  .slick-arrow.slick-prev {
    padding-right: 3rem;
    padding-left: 1rem;
  }
  .slick-arrow.slick-next {
    padding-right: 2.3rem;
    padding-left: 1.7rem;
  }
}

@media screen and (max-width: 500px) {
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    opacity: 1;
  }

  .slick-arrow.slick-next {
    padding-right: 2.5rem;
    padding-left: 1.5rem;
  }

  .slick-arrow.slick-prev {
    padding-right: 3rem;
    padding-left: 1rem;
  }

  .slick-arrow.slick-prev:hover,
  .slick-arrow.slick-next:hover {
    opacity: 0.99;
  }
}
